@import './tools.scss';
@import './type.scss';
@import './global.scss';

.hero__root {
    height: 400px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;

    @include desktop() {
        background-attachment: fixed;
    }

    @include mobile() {
        height: calc(100vh - 65px);

        .content {

            h1 {
                font-size: 28px;
            }
        }
    }

    .waves {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        @include fadeInUp($duration: .5s);
    }

    .overlay {
        @include gradientGrey();
        @include fadeInGradient($duration: .5s);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 0;
        opacity: .8 !important;

        &.girls-who-code {
            @include gradientGirls();
        }
    }

    .content {
        color: white;
        position: relative;
        z-index: 1;
        @include container();
        @include fadeInUp($duration: .5s);

        p {
            font-size: 18px;

            span {
                font-weight: bold;
                background: #222222;
                padding: 4px 4px 1px 4px;
                border-radius: 2px;
            }
        }

        .button {
            background: white;
            display: inline-block;
            width: 220px;
            max-width: 100%;
            color: #222;
            padding: 5px 0;
            transition: .5s ease;

            &:hover {
                text-decoration: none;
                color: white;
                background: #222;
            }
        }
    }
}