// Vars
$colorGrey: #222222;

$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;

// Mixins
@mixin tablet() {
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin gradient() {
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin container() {
    padding: 0 40px;

    @include tablet() {
        padding: 0 20px;
    }

    @include mobile() {
        padding: 0 20px;
    }
}