@import '../index.scss';

.charity__temp__root {
    margin-top: 60px;

    .hero__root {
        .back {
            position: absolute;
            top: 2rem;
            left: 0;
            width: 100%;
            @include container();

            img {
                width: 3.5rem;
            }
        }

        .content {
            text-align: center;
        }
    }
}